body {
    color: #333333;
    background-color: #F7F7F7;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(70%) sepia(88%) saturate(6194%) hue-rotate(0deg) brightness(95%) contrast(110%);
}

.animated-element {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
}
img {
    width: 100%;
    height: auto;
}
@font-face {
    font-family: 'CustomFont';
    src: url('font.woff2') format('woff2');
    font-display: swap;
}