body {
    color: #333333;
    background-color: #F7F7F7;
}

.animated-element {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
}
img {
    width: 100%;
    height: auto;
}
@font-face {
    font-family: 'CustomFont';
    src: url('font.woff2') format('woff2');
    font-display: swap;
}